<ion-content>
  <!-- <app-vertical-steps [curStep]="0"></app-vertical-steps> -->

  <div style="height:20px;"></div>
  <div style="height:20px;"></div>
  <div style="height:20px;"></div>
  <div style="height:20px;"></div>
  <div style="height:20px;"></div>

  <div class="logo-section">
    <img src="../../assets/grove_trees.png"/>
    <div style="height:10px;"></div>
    <img src="../../assets/grove_text.png"/>
  </div>

  <div class="intro-content">
    <p color="light">
      <b>Welcome to Grove</b>
    </p>
    <div style="height:20px;"></div>

    <p color="light">
      Let's get you set up to make the most of your new smart charger.
    </p>

    <div style="height:40px;"></div>

    <ion-button expand="block" fill="outline" color="light">
      <a href="#" [routerLink]="['/home-info']">
        Get Started&nbsp;&nbsp;
      </a>
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-button>
  </div>

</ion-content>
