<ion-content>
  <!-- <app-vertical-steps [steps]="3" [curStep]="1"></app-vertical-steps> -->
  <app-vertical-steps></app-vertical-steps>

  <div class="intro-block-offset"></div>

  <div class="intro-content">
    <p color="light">
      Welcome to Energy Pals!
    </p>
    <div style="height:20px;"></div>

    <p color="light">
      Let's get you set up to make the most of your new smart charger.
    </p>

    <div style="height:40px;"></div>

    <ion-button expand="block" fill="outline" color="light">
      Get Started&nbsp;&nbsp;
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-button>
  </div>



</ion-content>
