<ion-content>
  <app-vertical-steps [curStep]="2"></app-vertical-steps>
  <div style="height:20px;"></div>
  <div style="height:20px;"></div>
  <div style="height:20px;"></div>
  <div style="height:20px;"></div>
  <div style="height:20px;"></div>
  <div style="height:20px;"></div>
  <div style="height:20px;"></div>
  <div style="height:20px;"></div>
  <div style="height:20px;"></div>
  <div style="height:20px;"></div>

  <div class="intro-content">
    <ion-item class="clear-form no-border">
      <ion-label color="light">
        <b>Optimizing</b>
      </ion-label>

      <ion-spinner name="dots"></ion-spinner>
      </ion-item>
  </div>

</ion-content>
