:root {
  --ion-font-family: "Avenir", sans-serif;

  --ion-color-primary: #279A8A;
  --ion-color-primary-rgb: 39,154,138;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #228879;
  --ion-color-primary-tint: #3da496;

  --ion-color-secondary: #C99200;
  --ion-color-secondary-rgb: 201,146,0;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #b18000;
  --ion-color-secondary-tint: #ce9d1a;

  --ion-color-tertiary: #FFE49D;
  --ion-color-tertiary-rgb: 255,228,157;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #e0c98a;
  --ion-color-tertiary-tint: #ffe7a7;

  --ion-color-success: #77BC1F;
  --ion-color-success-rgb: 119,188,31;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #69a51b;
  --ion-color-success-tint: #85c335;

  --ion-color-warning: #ff8e25;
  --ion-color-warning-rgb: 255,142,37;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e07d21;
  --ion-color-warning-tint: #ff993b;

  --ion-color-danger: #B02318;
  --ion-color-danger-rgb: 176,35,24;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #9b1f15;
  --ion-color-danger-tint: #b8392f;

  --ion-color-dark: #362B59;
  --ion-color-dark-rgb: 54,43,89;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #30264e;
  --ion-color-dark-tint: #4a406a;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #e6e6e6;
  --ion-color-light-rgb: 230,230,230;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #cacaca;
  --ion-color-light-tint: #e9e9e9;
}

.bg-class,ion-content {
  --background: linear-gradient(to bottom right, #14632F, #4B9EA7) !important;
}
