<ion-content>

  <ion-card class="grove-card">
    <ion-card-header>
      <ion-card-title>Today</ion-card-title>
      <ion-card-subtitle>Upcoming Schedule: 1AM - 5AM</ion-card-subtitle>
      <ion-card-subtitle>Planned Usage: 30 kWh</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="6" align-self-center text-center>
            <app-summary-stat
              [statName]="'savings'"
              [statValue]="4.33"
              [imageUrl]="'../../assets/dollar.png'"
            ></app-summary-stat>
          </ion-col>

          <ion-col size="6" align-self-center text-center>
            <app-summary-stat
              [statName]="'trees'"
              [statValue]="15"
              [imageUrl]="'../../assets/trees.png'"
            ></app-summary-stat>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-button expand="block" fill="outline" (click)="preferencesClicked()">Adjust Preferences</ion-button>
      <div style="height:10px;"></div>
      <ion-button expand="block" (click)="presentAlert()">Run Device Now</ion-button>
    </ion-card-content>
  </ion-card>


  <ion-card class="grove-card non-feature">
    <ion-card-header>
      <ion-card-title>Yesterday</ion-card-title>
      <ion-card-subtitle>Your Device Operated: 1AM - 6AM</ion-card-subtitle>
      <ion-card-subtitle>Resulting Usage: 36 kWh</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="6" align-self-center text-center>
            <app-summary-stat
              [statName]="'savings'"
              [statValue]="2.59"
              [imageUrl]="'../../assets/dollar.png'"
            ></app-summary-stat>
          </ion-col>

          <ion-col size="6" align-self-center text-center>
            <app-summary-stat
              [statName]="'trees'"
              [statValue]="12"
              [imageUrl]="'../../assets/trees.png'"
            ></app-summary-stat>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card class="grove-card non-feature">
    <ion-card-header style="padding-bottom:0px;">
      <ion-card-title>Lifetime</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="6" align-self-center text-center>
            <app-summary-stat
              [statName]="'total savings'"
              [statValue]="145"
              [imageUrl]="'../../assets/dollar.png'"
            ></app-summary-stat>
          </ion-col>

          <ion-col size="6" align-self-center text-center>
            <app-summary-stat
              [statName]="'avg daily trees'"
              [statValue]="16.2"
              [imageUrl]="'../../assets/trees.png'"
            ></app-summary-stat>
          </ion-col>
        </ion-row>

        <!-- community thing -->
        <ion-row class="ion-align-items-center">
          <ion-col size="12" align-self-center text-center>
            <app-summary-stat
              [statName]="'Trees in your community\'s forest'"
              [statValue]="3000"
              [imageUrl]="'../../assets/comm-forest.png'"
              [outsized]="true"
            ></app-summary-stat>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
