<ion-content>
  <div style="margin:20px;">
    <h3>
      To get you started saving money and the climate, we just need your zip code and rate tier.
    </h3>
    <ion-item>
      <ion-label color="dark">Zip Code</ion-label>
      <ion-input placeholder="e.g. 94606"></ion-input>
    </ion-item>

    <div style="height:20px;"></div>

    <ion-item>
      <ion-label color="dark">Rate Tier</ion-label>
      <ion-select interface="popover">
        <ion-select-option value="e1">E1 - Time of Use A</ion-select-option>
        <ion-select-option value="e2">E2 - Time of Use B</ion-select-option>
        <ion-select-option value="t9">Standard</ion-select-option>
        <ion-select-option value="ev1">EV rate</ion-select-option>
      </ion-select>
    </ion-item>

    <div style="height:20px;"></div>

    <ion-button expand="block">Next</ion-button>
  </div>
</ion-content>
